
#sidenav {
  min-height: 100vh;
  width: 15%;
  transition: margin .25s all ease;
}

.brand {
  padding: 1em;
  background-color: #25292d;
  font-size: 1.5em;
  box-sizing: border-box;
  min-height: 10vh;
}

.main-content {
    width: 100%;

}

.page-title-area{
    display: flex;
    align-items: center;
    color: #FFF;
    min-height: 10vh;
    box-sizing: border-box;
}

.content{
    padding: 1em;
    max-width: 80%;
}

.page-title-area {
    padding: 1em;
    background-color: #4a5056;
}


